/* CSS Document    */
*{
    margin: 0px;
    padding: 0px;
}  

html {
    overflow-y: scroll;
}

body{
    margin: 0px auto 0px auto;
    max-width: 1280px;  
    background-color: #DCD9D6;
    font-family: verdana, Arial, sans-serif;
}

/* ===================================================================================== */

#flags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: black;
}

#flags ul{ 
    margin-top: 5px;
    display: inline-block;
    padding-right: 10px;
}

#flags ul li{
    display: inline-block;
}

#flags ul li a img{
    height: 10px;
    margin-right: 5px;
}

#flags ul li a.selected {
    font-weight: bold;
}

#flags a{
   color: black;
   text-decoration: none;
}

/* ===================================================================================== */

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: flex-end;
    margin-top: 5px;
    height: 150px;
    background-color: black;
    background-image: url('../images/Header1_0.png');    
    background-repeat: no-repeat;
}

#header h1 {
    color: #557AFF;
    font-size: 26px;
}

#header div {
    margin: 10px;
}
 
 /* ===================================================================================== */
 
#nav {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
}

#nav ul{
    margin: 2px 0px;
    display: inline-block;
}

#nav ul li{
    display: inline-block;
}

#nav ul.internal{
    display:inline-block;
    margin-right: 2px;
}

#nava {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
    background-color: black;
    padding: 2px 2px;
    margin-left: 2px;
}

#nava a {
    margin: 4px 0px 4px 0px;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 4px 5px;
}

#nava a.selected {
    color: black;
    background-color: white;
}

#nava a:hover {
    color: black;
    background-color: white;
}

#navb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: black;
    background-color: white;
    border-bottom: solid;
    padding: 0px;   
}

#navb a {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 4px 5px;
}

#navb a.selected {
    color: white;
    background-color: black;
}

#navb a:hover {
    color: white;
    background-color: black;
}

#navb ul li{
    margin: 4px 0px 4px 0px;
}

/* ===================================================================================== */

#main {
    margin: 0px;
    background-color: white;
    padding-bottom: 20px;
}

#topic {
    margin: 0px 50px;
    line-height:20px;
    text-align: justify; 
}

#topic h1 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -35px;
    border-width: 2px;
}

#topic h2 {
    color: #00409c;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 5px;    
}

#topic p {
    text-indent: 1em;
    padding-bottom: 5px;
}

#topic p.noindent {
    text-indent: 0em;
}

#topic table {
    border-width: 1px;
    border-spacing: 5px 2px;
    border-collapse: separate;
    margin-bottom: 10px;
    margin-top: 10px;
}

#topic table.list tr:nth-child(even) {
    background-color: #EEEEEE;
}

#topic tr th {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid;
    text-align: center;
}

#topic td {
    vertical-align: top;
}

#topic tr th.dpkg {
    width: 200px;
}

#topic tr td {
    text-align: left;
}

#topic tr td.label {
    font-weight: bold;
    color: #000033;
    text-align: left;
}

#topic tr td.right {
    text-align: right;
}

#topic a {
    text-decoration: none;
    color: blue;
}

#topic a:active {
    text-decoration: none;
    color: blue;
}

#topic a:hover {
    text-decoration: none;
    color: red;
}

#topic ul{
    margin-left: 20px;
}


/* ===================================================================================== */

#footer {
    text-align: center;
    margin-top: 5px;
}

#footer p{
    font-family: verdana, Arial, sans-serif;
    padding: 3px 0px 5px 0px;
}


