/* CSS Document    */
*{
    margin: 0px;
    padding: 0px;
}  

html {
    overflow-y: scroll;
}

body{
    margin: 0px auto 0px auto;
    max-width: 1280px;  
    color: black;    
    background-color: white;
    font-family: verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #557AFF; 
}

a:hover {
    color: red;
}

/* ===================================================================================== */

#flags { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    padding-right: 10px;
}

#flags li {
    display: inline-block;
}

#flags img {
    height: 10px;
    margin-right: 5px;
}

#flags a {
   color: black;
}

#flags a:hover {
   color: red;
}

#flags a.selected {
    font-weight: bold;
}

#flags li.nav a {
    font-size: 1em;
    color: #274fa4;
}
 
/* ===================================================================================== */

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin-top: 5px;
    background-color: #274fa4;
}

#header h1 {
    color: white;
    font-size: 26px;
    margin: 5px 10px;
}

#header div {
    margin: 5px 5px 3px 5px;
}

#header a {
    color: white;
}

#header a:visited {
    color: white;
}

#header a:hover {
    color: red;
}

 /* ===================================================================================== */
 
#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    font-size: 18px;
    font-weight: bold;
    
    background-color: white;
    border-bottom: solid;
    border-top: solid;
    border-color: #274fa4;
    padding: 0px 2px 2px 2px;   
}

#nav li{
    padding: 6px 0px 4px 0px;
    display: inline-block;
}

#nav li.right {
    margin-left: auto;
}

#nav a {
    color: #274fa4;
    background-color: white;
    padding: 4px 5px;
    margin-right: 2px;
}

#nav a.selected {
    color: white;
    background-color: #274fa4;
}

#nav a:hover {
    color: red;
    background-color: #274fa4;
}

/* ===================================================================================== */

#main {
    background-color: white;
    padding-bottom: 10px;
}

#topic {
    margin: 0px 50px;
    text-align: justify; 
}


#topic h1 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -35px;
    border-width: 2px;
}

#topic h2 {
    color: #00409c;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 5px;    
}

#topic div.warning {
    margin: 10px -35px 5px -35px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background-color: yellow;
    color: red;
}

#topic div.warning h1 {
    text-align: center;
    }
    
#topic div.warning p {
    margin: 10px;
    }

#topic p {
    text-indent: 1em;
    padding-bottom: 5px;
}

#topic p.noindent {
    text-indent: 0em;
}

#topic p.center {
    text-indent: 0em;
    text-align: center;
}

#topic table {
    border-width: 1px;
    border-spacing: 5px 2px;
    border-collapse: separate;
    margin-bottom: 10px;
    margin-top: 10px;
}

#topic table.list tr:nth-child(even) {
    background-color: #EEEEEE;
}

#topic tr th {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid;
    text-align: center;
}

#topic td {
    vertical-align: top;
}

#topic tr th.dpkg {
    width: 200px;
}

#topic tr td {
    text-align: left;
}

#topic tr td.label {
    font-weight: bold;
    color: #000033;
    text-align: left;
}

#topic tr td.right {
    text-align: right;
}

#topic ul {
    margin: 0px 35px;
}

#topic li {
    text-align: left;
}

/* ===================================================================================== */

#footer {
    text-align: center;
    margin: 5px 0px;
    padding: 5px 5px;
    background-color:   #eaeffa;
    font-size: 75%;
}

/* ===================================================================================== */

/* mobile rules */

@media (max-width: 700px) {
    #header div {
        display: none;
    }
    
    #topic {
        margin: 0px 5px;
        text-align: justify; 
    } 
    
    #topic h1 {
    margin-left: 0px;
    }
    
    #topic div.warning {
    margin: 10px 0px 5px 0px; 
    }
}
