/* CSS Document    */
*{
    margin: 0px;
    padding: 0px;
}  

html {
    overflow-y: scroll;
}

body{
    margin: 0px auto 0px auto;
    max-width: 1280px;  
    color: black;    
    background-color: white;
    font-family: verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #557AFF; 
}

a:hover {
    color: red;
}

/* ===================================================================================== */

#flags { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 5px;
    padding-right: 10px;
}

#flags li {
    display: inline-block;
}

#flags img {
    height: 10px;
    margin-right: 5px;
}

#flags a {
   color: black;
}

#flags a:hover {
   color: red;
}

#flags a.selected {
    font-weight: bold;
}

/* ===================================================================================== */

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin-top: 5px;
    background-color: black;
}

#header h1 {
    color: #557AFF;
    font-size: 26px;
    margin: 5px 10px;
}

#header div {
    margin: 10px;
}

 /* ===================================================================================== */
 
#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    font-size: 18px;
    font-weight: bold;
    
    background-color: white;
    border-bottom: solid;
    border-top: solid;    
    padding: 0px 2px 2px 2px;   
}

#nav li{
    padding: 6px 0px 4px 0px;
    display: inline-block;
}

#nav a {
    color: black;
    background-color: white;
    padding: 4px 5px;
    margin-right: 2px;
}

#nav a.selected {
    color: white;
    background-color: black;
}

#nav a:hover {
    color: white;
    background-color: black;
}

/* ===================================================================================== */

#main {
    background-color: white;
    padding-bottom: 10px;
}

/* ===================================================================================== */

#footer {
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding: 5px 5px;
    background-color:   #eaeaea;
}

/* ===================================================================================== */

/* mobile rules */

@media (max-width: 700px) {
    #header div {
        display: none;
    }
}
